body {
	font-family: Calibri, Tahoma, sans-serif;
	margin: 2.5%;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

div#content {
	margin-left: 5%;
	margin-right: 5%;
	padding: 2.5%;
	border: solid #CCCCCC 1px;
}

table {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
}

table.param-table tbody tr td:first-child
{
	width: 15%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: navy;
}
a:hover {
	text-decoration: underline;
}

a[href='']
{
	color: darkred;
}

pre {
	padding: 5px;
}

pre.syntax {
	background-color: #FFFFAA;
	border: solid #FFFF33 1px;
	width: 100%;
}
pre.example {
	background-color: lightgray;
	border: solid #888888 1px;
	width: 100%;
}

pre.example span.comment, pre.syntax span.comment {
	color: darkgreen;
}

pre.example span.string, pre.syntax span.string {
	color: #444444;
	font-style: italic;
}

pre.example span.keyword, pre.syntax span.keyword {
	color: navy;
	font-weight: bold;
}

pre.example span.operator, pre.syntax span.operator {
	color: red;
	font-weight: bold;
}

h4 {
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: lightgray;
	border-bottom: solid gray 1px;
	border-top: solid gray 1px;
	width: 100%;
}